DOTENV_CONFIG_QUIET=1

GEMINI_API_KEY=12345
GEMINI_MODEL=dummy_model

JIRA_EMAIL=email@gmail.com
JIRA_API_TOKEN=1312ABC
JIRA_CLOUD_ID=12345
JIRA_SUBDOMAIN=subdomain

BITBUCKET_EMAIL=email@gmail.com
BITBUCKET_API_TOKEN=dummy123
BITBUCKET_WORKSPACE=workspace
BITBUCKET_REPOSITORY_SLUG=repo_slug